.Wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the items */
    gap: 1.5rem; /* Increased spacing for readability */
    margin-top: 2rem;
  }
  
  .location-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem; /* Increase the gap between grid items */
    padding: 2rem 0; /* Add padding to create space between countries */
  }
  
  .location-item {
    text-align: center;
  }
  
  .location-link {
    font-size: 1.25rem;
    color: #0000FF;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .location-link:hover {
    color: #FF0000; /* Color change on hover for better user interaction */
  }
  
  @media (max-width: 768px) {
    .location-wrapper {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem; /* Adjust gap on smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .location-wrapper {
      grid-template-columns: repeat(1, 1fr);
      gap: 0.5rem; /* Reduce gap for mobile */
    }
  }
  