/***************About Page CSS Start*************/
.teamList {
  .teamImage {
    width: 100%;
    padding-top: calc(100% /(16/12));
    background: #ddd;
    position: relative;
    display: block;
    margin-top: 80px;
    img {
      position: absolute;
      width: auto;
      height: calc(100% + 80px);
      object-fit: contain;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      transition: all ease-in-out .3s;
      object-position: bottom;

    }

  }
  .cardInfo{
    background-color: var(--bg-color2);
    padding: 15px;
    position: relative;

    .playButton{
      width: 100%;
      margin-top: 10px;
      min-height: 45px;
      border: none;
      padding: 5px 15px;
      display: flex;
      grid-gap: 10px;
      color: #fff;
      background-color: var(--secondary);
      align-items: center;
      font-weight: 500;
      justify-content: center;
      transition: all ease-in-out .3s;
      &:hover{
        background-color: #000;
      }
      svg{
        font-size: 150%;
      }
    }
  }
}

/**************About Page CSS Start****************/